<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Book</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="/css/booklist.css" th:href="@{/css/booklist.css}">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <p th:text="'Welcome, ' + ${#authentication.principal.username} + ' !'"></p>
    <p th:text="'Your current role is: ' + ${#authentication.principal.getApplicationUser().getRole().toString()} + '.'"></p>
    <ul>
        <li><a th:href="@{/}">Books</a></li>
        <li><a th:href="@{/books/favorites}">Favorites</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>

<div th:if="${param.success != null}">
    <div class="alert alert-success" role="alert">
        <span th:text="${param.success}">Success</span>
    </div>
</div>
<h1>Book List</h1>

<a th:if="${#authentication.principal.isAdmin()}" th:href="@{/books/new}" class="btn btn-primary">Create New Book</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>ISBN</th>
        <th>Times Favorited</th>
        <th>Price</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}" th:onclick="|window.location='@{/books/{id}(id=${book.bookId})}'|">
        <td th:text="${book.title}"></td>
        <td>
            <ul>
                <li th:each="author : ${book.authors}" th:text="${author.name}"></li>
            </ul>
        </td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.numberOfTimesFavorited}"></td>
        <td th:text="${book.price}"></td>
        <td>
            <ul>
                <li th:each="location : ${book.locations}" th:text="${location.locationCode1 + ':' + location.locationCode2 + ' - ' + location.locationName}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>