<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title} + ': Detail'">Book Detail</title>
    <link rel="stylesheet" type="text/css" href="/css/book-detail.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav>
    <p th:text="'Welcome, ' + ${#authentication.principal.username} + ' !'"></p>
    <p th:text="'Your current role is: ' + ${#authentication.principal.getApplicationUser().getRole().toString()} + '.'"></p>
    <ul>
        <li><a th:href="@{/}">Books</a></li>
        <li><a th:href="@{/books/favorites}">Favorites</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>


<h1 th:text="${book.title}">Book Detail</h1>
<table>
    <tr>
        <th>ID:</th>
        <td th:text="${book.bookId}"></td>
    </tr>
    <tr>
        <th>Title:</th>
        <td th:text="${book.title}"></td>
    </tr>
    <tr>
        <th>ISBN:</th>
        <td th:text="${book.isbn}"></td>
    </tr>

    <tr>
        <th>Times Favorited:</th>
        <td th:text="${book.numberOfTimesFavorited}"></td>
    </tr>
    <tr>
        <th>Authors:</th>
        <td>
            <ul>
                <li th:each="author : ${book.authors}" th:text="${author.name}"></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Price:</th>
        <td th:text="${book.price}"></td>
    </tr>
    <tr>
        <th>Location:</th>
        <td>
            <ul>
                <li th:each="location : ${book.locations}" th:text="${location.locationCode1 + ':' + location.locationCode2 + ' - ' + location.locationName}"></li>
            </ul>
        </td>
    </tr>
    <tr >
        <th>Favoriet:</th>
        <td>
            <form method="post" th:action="@{/markAsFavorite}" th:object="${favoriteDto}">
                <input type="hidden" name="userId" th:value="${#authentication.principal.getUserId()}" />
                <input type="hidden" name="bookId" th:value="${book.bookId}" />
                <button th:if="${#authentication.principal.getFavoriteBookIds().size() < #authentication.principal.getApplicationUser().getMaxNumberOfFavorites() ||
                #authentication.principal.getFavoriteBookIds().contains(book.bookId)}" type="submit" class="btn btn-primary"
                        th:text="${#authentication.principal.getFavoriteBookIds().contains(book.bookId) ? 'Remove from Favorites' : 'Add to Favorites'}">
                </button>
            </form>
        </td>
    </tr>
    <tr th:if="${#authentication.principal.isAdmin()}">
        <th>Admin Options:</th>
        <td>
        <form method="post" th:action="@{/books/__${book.bookId}__/delete}">
            <button method="post" th:action="@{/books/__${book.bookId}__/delete}" type="submit" class="btn-danger">Delete</button>
        </form>
        </td>
    </tr>
</table>
</div>
</body>
</html>
